body {
    font-family: 'Roboto', sans-serif;
    background-color: #69583a2a;
    margin: 0;
    padding: 0;
}

.container {
    width: 45%;
    max-width: 800px;
    min-width: 320px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.919);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 30px; 
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
}

label span {
    font-weight: bold;
    margin-bottom: 8px;
}

input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%; 
    box-sizing: border-box;
}


input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 12px;
    background-color: #008c7b;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
    background-color: #318b80;
    transform: scale(1.05); 
}

button:disabled {
    background-color: #527d78;
    cursor: not-allowed;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 12px;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.navbar-container {
    display: flex;
    align-items: center;
}

.site-name {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px; 
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    display: block;
    color: #cac3c3;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-links li a:hover {
    background-color: transparent;
    transform: scale(1.05); 
}

.nav-links li a.active {
    font-weight: bold; 
}


.table-wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.table thead tr {
    background-color: #008c7c72;
    color: white;
    font-weight: bold;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #008c7cc3;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        flex: none;
    }

    nav ul li a {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    .table {
        font-size: 14px;
    }
}
